// P A D D I N G

%padding_25, .padding_25 {
     padding: 25px;
}

%padding_30, .padding_30 {
     padding: 30px;
}

%padding_top25, .padding_top25 {
     padding-top: 25px;
}

%padding_40, .padding_40 {
     padding: 40px;
}

%padding_50, .padding_50 {
     padding: 50px;
}

%padding_80, %padding_80 {
     padding: 80px;
}

%padding_160, .padding_160 {
     padding: 160px;
}

// M A R G I N

%margin_25, .margin_25 {
     margin: 25px;
}

%margin_30, .margin_30 {
     margin: 30px;
}

%margin_40, .margin_40 {
     margin: 40px;
}

%margin_50, .margin_50 {
     margin: 50px;
}

%margin_80, .margin_80 {
     margin: 80px;
}

%margin_160, .margin_160 {
     margin: 160px;
}
